body
{
	padding-left:3px;
	color:#868585;
	font-size:70.5%;
}

.etiquetaLogin
{
	
		font-family : 'Lucida Sans', Tahoma, Arial, Helvetica, sans-serif;
		font-size : 8pt;
		font-weight : bold;
	
}

TD
{
	padding:15px;
	font-family :  'Lucida Sans', Tahoma, Arial, Helvetica, sans-serif;
	font-size : 8pt;
	color:#868585;
}

.loginBox
{
	padding:0px 0px 0px 0px;
}
.loginBox tr td
{
	white-space:nowrap;
	padding:0px 0px 0px 0px;
}

.labelLogin label
{
	margin-left:0px;
	
	    color: Black;
	
}

.mensajeAtencion
{	
	width:20em;
	padding:20px 20px 20px 40px;
	white-space:normal;
	word-spacing:normal;
}

.headertext{
	font-family : 'Lucida Sans', Tahoma, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color:#868585;
}
INPUT, SELECT, TEXTAREA .TextoForma {
	font-family : Tahoma, Verdana, Arial;
	font-size : 8pt;
	font-weight : normal;
	font-style : normal;
	font-variant : normal;
	text-decoration : none;
	text-transform : none;
	text-align : justify;
}

.botonNormal{
	font-family :  'Lucida Sans', Tahoma, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #5F5F5F;
	background-image : url(/V5homeDepot/images/btn_Normal.gif);
	height : 32px;
	width : 144px;
	border : none;
}

.boton
{
	font-family : 'Lucida Sans',  Tahoma, Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	background: url(/V5homeDepot/images/bgToolbar.gif); /* btn_Normal.gif);*/
	height : 24px;
	border : solid 1px silver;
}



.mensaje{
	font-family : 'Lucida Sans', Tahoma, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : Red;
	text-justify : distribute;
}
.nota{
	font-family : 'Lucida Sans', Tahoma, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : black;
}
.copyright{
	font-family : 'Lucida Sans', Tahoma, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color:#868585;
	vertical-align:top;
	padding-left:10px;
}
INPUT.texto
{
	font-family : 'Lucida Sans', Tahoma, Arial, Helvetica, sans-serif;
	font-size:10px;
	color : #5F5F5F;	
	
		width: 180px;
	
}
.opcion{
	font-family : 'Lucida Sans', Tahoma, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #3F3F3F;	
	width: 180px;	
}

#Header 
{
	color:black;
	display:block;
	font-family:'Lucida Sans', Tahoma, 'Lucida Sans', Tahoma, Arial; /* antes solo 'Lucida Sans', Tahoma, Arial */
	font-size:10pt;
	font-weight:bold;
	text-align:right;
	line-height:50px;
	border-bottom:1px solid black;
	padding-bottom:5px;
	padding-top:5px;
	padding-left:5px;
	padding-right:15px;
	margin-left:0px;
	height:50px;
	overflow:hidden;
	background:white url(/V5homeDepot/images/logo_integer.gif) no-repeat top left;
/*	background-image:url(images/bgHeader.gif);
	background-repeat: no-repeat ;
	background-position: right top;*/
	
}

#Header img
{	display:inline;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

.headImage
{
       
			/*
			JAMD - Imagen distinta de BG llamada loginBGITX-HRC-V5.jpg
			*/
			
				background:white url('/index_files/images/loginBGITX-HRC-V5.png') no-repeat top right;
			
        width:700px;
    
    
	height:200px;
	vertical-align:top;
	color:White;
	font-size:150%;
}

/*
JAMD - Imagen superior exclusiva de V5.
*/
.headImageV5
{
    background:url('/V5homeDepot/UI/50/images/backgrounds/loginHDITX-HRC-V5.jpg');
	background-repeat:repeat-x;
    height:90px;
	vertical-align:top;
	color:White;
	margin-right:0px;
	margin-left:0px;
}

.degradadoLoginV5
{
    
}

A 
{
	color:#868585;
	font-weight:bold;
	text-decoration:underline;
}



.menuHeadImage,
.menuHeadImage A,
.menuHeadImage A:visited,
.menuHeadImage A:link
{
	vertical-align:top;
	color:White;
	font-weight:normal;
	font-size:7pt;
	text-align:right;
}

.menuHeadImage A:hover
{
	text-decoration:underline;
	height:10px
}

#version
{
	margin-left: 30px;
	position:relative;
/* 	top:140px; */
	top:40px;
	vertical-align:bottom;
	font-size:0.4em;
	color: white;
}

/*
    clases
*/
div.formAreaLogin-topRight
{
	background: url('/V5homeDepot/UI/50/images/backgrounds/round_TR.png') #f5f8fd no-repeat right top;
	color: #dae3ec;
	display: inline-block;
	font-family: Calibri, Tahoma, Verdana, Arial;
	margin: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

.formAreaLogin-bottomRight
{
	background: url('/V5homeDepot/UI/50/images/backgrounds/round_BR.png') no-repeat right bottom;
	color: #dae3ec;
	display: inline-block;
	font-family: Calibri, Tahoma, Verdana, Arial;
	margin: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

.formAreaLogin-bottomLeft
{
	background: url('/V5homeDepot/UI/50/images/backgrounds/round_BL.png') no-repeat left bottom;
	color: #dae3ec;
	display: inline-block;
	font-family: Calibri, Tahoma, Verdana, Arial;
	margin: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

.formAreaLogin
{
	background: url('/V5homeDepot/UI/50/images/backgrounds/round_TL.png') no-repeat left top;
	color: #f7f8fc;
	font-family: Calibri, Tahoma, Verdana, Arial;
	margin: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	width: 323px;
}